body {
  background-color: #171738;
}

#dummy {
  position: absolute;
  width: 20%;
  height: 30%;
  top: 30vh;
  left: 30%;
  background-color: white;
  opacity: 0.5;
  border: solid purple;
  border-width: 0.8em;
  border-radius: 1em;
}
